root = true

[*.cs]
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_before_open_square_brackets = true
csharp_space_after_cast = true
csharp_new_line_before_open_brace = none
csharp_indent_switch_labels = false
