name: Build

on: [push, pull_request]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2019, ubuntu-20.04]
        dotnet: [6.0.100]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet }}
    - name: Restore tools
      run: dotnet tool restore
    - name: Run Build
      run: dotnet build
    - name: Run Tests
      run: dotnet test --no-build
