name: Build

on:
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04]
        dotnet: [7.0.201]

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: src

    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Restore tools
      run: dotnet tool restore

    - name: Run Build
      run: dotnet build

    - name: Run publish
      run: (cd CSharpLanguageServer && dotnet pack -c Release -o release)

    - name: Upload NuGet packages as artifacts
      uses: actions/upload-artifact@v2
      with:
        name: packages
        path: src/CSharpLanguageServer/release/
