name: Build

on:
  workflow_dispatch:
    inputs: {}

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04]
        dotnet: [10.0.x]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Restore tools
        run: dotnet tool restore

      - name: Run Build
        run: dotnet build -c Release

      - name: Run Pack
        run: dotnet pack -c Release -o release --no-build
        working-directory: src/CSharpLanguageServer

      - name: Upload NuGet packages as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: packages
          path: src/CSharpLanguageServer/release/
