name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    timeout-minutes: 10
    strategy:
      matrix:
        os: [windows-latest, ubuntu-24.04]
        dotnet: [10.0.x]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ matrix.dotnet }}

      - name: Restore tools
        run: dotnet tool restore

      - name: Run Build
        run: dotnet build -c Debug

      - name: Run Tests
        run: dotnet test --no-build

      - name: Run Fantomas check
        run: dotnet fantomas --check .

      - name: Check dotnet pack works for Release config
        run: |
          dotnet build -c Release
          dotnet pack -c Release -o release --no-build
        working-directory: src/CSharpLanguageServer
